@import "tailwindcss";


@theme {
  --color-deep-blue: #01091D;
}


.bg-hero {
  background-image: url("./assets/images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}